--allow-all-external
BeautifulSoup==3.2.1
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
clang==3.3
gunicorn==18.0
itsdangerous==0.23
nltk==2.0.4
pandas==0.13.1
pymongo==2.6.3
python-dateutil==2.2
pytz==2013.9
requests==2.2.1
six==1.5.2
tornado==3.2
wsgiref==0.1.2
